<div class="container">
  <div class="j2">
    <div class="jumbotron">
      <h1>Content Analiser</h1>
      <div class="j3">
        <h3>
          <label for="content">Content</label>
        </h3>
      </div>
      <br />
      <textarea name="content" id="" cols="100" rows="5"></textarea>
      <br />
      <button class="btn btn-primary">Submit</button>
      <hr />
      <h1>Content Analysis</h1>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 55%">Sanity of Soul</div>
      </div>
    </div>
  </div>
</div>
